<?xml version="1.0"?>
<config>
    <modules>
        <Phoenix_BankPayment>
            <version>1.1.0</version>
        </Phoenix_BankPayment>
    </modules>
    <global>
        <models>
            <bankpayment>
                <class>Phoenix_BankPayment_Model</class>
            </bankpayment>
        </models>
        <resources>
            <bankpayment_setup>
                <setup>
                    <module>Phoenix_BankPayment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bankpayment_setup>
            <bankpayment_write>
                <use>core_write</use>
            </bankpayment_write>
            <bankpayment_read>
                <use>core_read</use>
            </bankpayment_read>
        </resources>
        <blocks>
            <bankpayment>
                <class>Phoenix_BankPayment_Block</class>
            </bankpayment>
			<sales>
				<rewrite>
					<order_recent>Phoenix_BankPayment_Block_Sales_Order_Recent</order_recent>
					<order_history>Phoenix_BankPayment_Block_Sales_Order_History</order_history>
				</rewrite>			
			</sales>
			<adminhtml>
				<rewrite>
					<sales_transactions_detail_grid>Phoenix_BankPayment_Block_Adminhtml_Sales_Transactions_Detail_Grid</sales_transactions_detail_grid>
				</rewrite>
			</adminhtml>
        </blocks>
        <helpers>
            <bankpayment>
                <class>Phoenix_BankPayment_Helper</class>
            </bankpayment>
        </helpers>    
		<template>
		  <email>
				<bankpayment_notification_email_template translate="label" module="bankpayment">
					<label>Bankpayment Notification Email</label>
					<file>bankpayment/notification_email.html</file>
					<type>html</type>
				</bankpayment_notification_email_template>			  
				<bankpayment_instruction_email_template translate="label" module="bankpayment">
					<label>Bankpayment Instruction Email</label>
					<file>bankpayment/instruction_email.html</file>
					<type>html</type>
				</bankpayment_instruction_email_template>						
			</email>
		  </template>	
		<events>
			<sales_convert_quote_to_order>
				<observers>
					<phoenix_bankpayment_observer>
						<type>singleton</type>
						<class>bankpayment/observer</class>
						<method>sendInstructionEmail</method>						
					</phoenix_bankpayment_observer>					
				</observers>
			</sales_convert_quote_to_order>
		</events>
    </global>
    <default>
        <payment>
            <bankpayment>
                <active>0</active>
                <model>bankpayment/bankPayment</model>
                <order_status>1</order_status>
                <title>Bank Prepayment</title>
                <allowspecific>0</allowspecific>
                <form_block_type>0</form_block_type>
            </bankpayment>
        </payment>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Phoenix_BankPayment>
                    <files>
                        <default>Phoenix_BankPayment.csv</default>
                    </files>
                </Phoenix_BankPayment>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Phoenix_BankPayment>
                    <files>
                        <default>Phoenix_BankPayment.csv</default>
                    </files>
                </Phoenix_BankPayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <Phoenix_BankPayment>
                    <file>bankpayment.xml</file>
                </Phoenix_BankPayment>
            </updates>
        </layout>	
        <routers>
            <bankpayment>
                <use>standard</use>
                <args>
                    <module>Phoenix_BankPayment</module>
                    <frontName>bankpayment</frontName>
                </args>
            </bankpayment>
        </routers>		
    </frontend>
    <default>
        <payment>
            <bankpayment>
                <title>Vorkasse</title>
                <active>1</active>
                <show_bank_accounts_in_pdf>1</show_bank_accounts_in_pdf>
                <show_customtext_in_pdf>1</show_customtext_in_pdf>
				<confirmation_active>0</confirmation_active>
				<type_active>0</type_active>
				<confirmation_email_active>0</confirmation_email_active>
				<notification_email_active>0</notification_email_active>
				<instruction_email_active>0</instruction_email_active>
            </bankpayment>
        </payment>
    </default>
</config>
