<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <bankpayment translate="label" module="payment">
                    <label>Bank Prepayment</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <confirmation_active translate="label">
                            <label>Confirmation Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </confirmation_active>						
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>bankpayment/source_order_status</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_status>
                        <!--<confirmed_order_status translate="label">
                            <label>Confirmed order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>bankpayment/source_order_status</source_model>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </confirmed_order_status>						-->
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <allowspecific translate="label">
                            <label>Payment from applicable countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>60</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>70</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        <min_order_total>
                            <label>Minimum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>71</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </min_order_total>
                        <max_order_total>
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>72</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_order_total>
                        <bank_accounts translate="label,comment">
                            <label>Bank Accounts</label>
                            <frontend_model>bankpayment/adminhtml_bankAccount</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Add your bank accounts data</comment>
                        </bank_accounts>
                        <show_bank_accounts_in_pdf translate="label">
                            <label>Show bank accounts in PDF</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>81</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_bank_accounts_in_pdf>
                        <paywithinxdays translate="label">
                            <label>Pay within X days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </paywithinxdays>
                        <customtext translate="label">
                            <label>Custom text</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customtext>
                        <show_customtext_in_pdf translate="label">
                            <label>Show custom text in PDF</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>151</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_customtext_in_pdf>
                        <form_cms_page translate="label,comment" module="bankpayment">
                            <label>Form CMS Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>bankpayment/source_cmsPage</source_model>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment>Choose CMS page to display a link instead of the bank accounts in the payment form</comment>                            
                        </form_cms_page>
                        <type_active translate="label">
                            <label>Enable Confirmation Types</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </type_active>	
                        <confirmation_type translate="label">
                            <label>Confirmation Types</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>bankpayment/source_confirmationType</source_model>
                            <sort_order>181</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </confirmation_type>	
                        <confirmation_email_active translate="label">
                            <label>Send Confirmation Email To Client</label>
							<comment>Send an Order Status Updated email to the client when he successfully confirms the payment</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>182</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </confirmation_email_active>		
                        <confirmation_message translate="label">
                            <label>Confirmation Message</label>
							<comment>Used in the Confirmation Email and Order Comment</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>183</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </confirmation_message>		
                        <notification_email_active translate="label">
                            <label>Send a Notification Email to Store Administrator</label>
							<comment>Send a notification email to the store administrator when the client successfully confirms a payment</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notification_email_active>						
                        <notification_email_subject translate="label">
                            <label>Notification Email Subject</label>
							<comment>Allowed variables: %order_id% (Order ID)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>191</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notification_email_subject>
                        <notification_email_recipient translate="label">
                            <label>Notified Email</label>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_identity</source_model>							
                            <sort_order>192</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notification_email_recipient>
                        <instruction_email_active translate="label">
                            <label>Send An Instruction Email to the Client</label>
							<comment>Send an instruction email to the client with information in how to confirm the payment</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instruction_email_active>						
                        <instruction_email_subject translate="label">
                            <label>Instruction Email Subject</label>
							<comment>Allowed variables: %order_id% (Order ID)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>201</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instruction_email_subject>					
                        <instruction_email_body translate="label">
                            <label>Instruction Email Body Text</label>
							<comment>Allowed variables: %order_id% (Order ID). HTML Allowed</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>202</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instruction_email_body>						
                    </fields>
                </bankpayment>
            </groups>
        </payment>
    </sections>
</config>
