{* This is a comment block

Use vars: {{var var_name}}
*}<!--@subject Lembrete de Falha de Transação de Pagamento @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
        <tr>
            <th>Falha de Pagamento.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Motivo</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Tipo de Checkout</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>Cliente:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Itens</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Total:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Endereço de Cobrança:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Endereço de Entrega:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Método de Envio:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Método de Pagamento:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Dia & Hora:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>
